<div class="container">
  <form class="new-game" action="/game/new" method="post">
    <p>Who will go first?</p>
      <p><input type="radio" name="first" value="computer">&nbsp;Computer</p>
      <p><input type="radio" name="first" value="player">&nbsp;Player</p>
    <p><input type="submit" value="Start new game!"></p>
  </form>
</div>
